*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000000;
  color: aliceblue;

}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
    color: gray;
}
#form{
    display: flex;

}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: #7c7c7c7b    
}
#task_input{
    flex: 1 1 0%;
    background-color: #f5e6e67b;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: rgb(254, 255, 250);
    font-size: 1em;

}
#task_input::placeholder{
    color: #f5e6e67b;
}
#btn{
    color: #f5e6e67b;
    font-size: 2.5rem;
    font-weight: 300;
    transition: 3s ease;
    cursor: pointer;
}
#btn:hover{
    color: #5310107b;
    opacity: 0.7;

}
#btn:active{
    color: #5310107b;
    opacity: 0.5;
}